body {
  font-family: "YuGothicM";
}

li {
  list-style:none;
}

.header {
  background-color:#FFFFFF;
  color: #000000;
  height: 70px;
}

.header img {
  display:block;
  margin:auto;
  padding: 0;
}

.nav {
  display:block;
  width:1000px;
  margin:auto;
}

.nav li {
  float: left;
  padding-bottom:10px;
  text-align:center;
  line-height: 40px;
	height:40px;
	width:190px;
	white-space:nowrap;
  background: #FFFFFF;
	font-size:100%;
	border-left: solid 1px #000000;
	letter-spacing: 0.05em;
}

.main {
  width: 100%;
  margin:10px 0px;
  height: auto;
  background-color:#000000;
}

.top-image img {
  display:block;
  margin:auto;
  width:1000px;
  padding:10px;
}

.contents {
  display:block;
  width:1000px;
  margin:auto;
}

.program-button,
.abstract-button {
  display: inline-block;
  width: 200px;
  height: 40px;
  text-align: center;
  text-decoration: none;
  line-height: 54px;
  outline: none;
}

.program-button::before,
.program-button::after,
.abstract-button::before,
.abstract-button::after {
  position: absolute;
  z-index: -1;
  display: block;
  content: '';
}
.program-button,
.program-button::before,
.program-button::after,
.abstract-button,
.abstract-button::before,
.abstract-button::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all .3s;
  transition: all .3s;
}

.program-button,
.abstract-button {
  position: center;
  background-color: #2f4f4f;
  border-radius: 4px;
  color: #fff;
  line-height: 40px;
  -webkit-transition: none;
  transition: none;
  box-shadow: 0 3px 0 #0e8c73;
  text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
}
.program-button:hover,
.abstract-button:hover {
  background-color: #008080;
  box-shadow: 0 3px 0 #23a188;
}
.program-button:active,
.abstract-button:active {
  top: 3px;
  box-shadow: none;
}

.top-left {
  float: left;
  width: 800px;
  padding:10px 10px;
}

.top-left h3 {
  text-decoration: underline;
}

.top-left dl{
	overflow: auto;
	height: 300px;
	margin: 5px 20px 0px;
}

.top-left dt {
	font-weight: bold;
	float: left;
	width: 8em;
  margin-bottom: 5px;
}

.top-left dd {
	border-bottom: 1px solid #ccc;
	padding-left: 8em;
  margin-bottom: 5px;
}

.top-right {
	float: right;
	width: 15%;
	padding-bottom: 50px;
}

.top-right h3 {
  text-decoration: underline;
	color: #000000;
	text-align: center;
	padding: 10px 0px;
}

.top-right img {
  width: 100px;
  margin: auto;
}

.clear {
  clear:both;
}

.footer {
  bottom: 0;
  height: 100px;
  width: 100%;
  background-color: #000000;
  color: #fff;
}

.footer p {
  text-align:center;
}
